@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600&family=Oleo+Script:wght@700&display=swap");

body {
  background-color: #e995cace;
}
.score {
  font-family: "Inter", sans-serif;
  font-family: "Oleo Script", cursive;
  font-weight: 700;
}

.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
}

.game img {
  width: 70px;
  height: 70px;
  background-color: #5b7381ce;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: .4rem;
}
